@font-face {
    font-family: 'sans';
    src: url('../fonts/iran_sans.ttf') format('truetype');
}

iframe body#innerdocbody{
    font-family: 'sans' !important;
    font-size: 25px !important;
}

body {
    font-family: 'sans' !important;
    background-color: #e8e8e8;
}

.hand {
   
}


