@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


<div class="ui container ">
    <div style="direction: rtl;" class="ui  segment">
        <section>
            <form class="ui form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4 style="font-family: 'sans'">ورود به سامانه</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-family: 'sans'">نام کاربری :</label>
                    <input asp-for="Email" class="field" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-family: 'sans'">رمز عبور</label>
                    <input asp-for="Password" class="field" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div> -->
                <div class="ui basic center aligned segment">
                    <button style="font-family: 'sans'; width:100px;" type="submit" class="btn btn-default">ورود</button>
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
