@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
@*    <iframe name="embed_readwrite" *@
@*            src="http://94.130.157.6:9001/p/6p5eNebVRaVgbO5N$samplePad?callback=?&rtl=true&noColors=true&userName=xxx&showControls=false&showChat=false&showLineNumbers=true&useMonospaceFont=false"*@
    @*            width=600 height=400></iframe>*@
    
    <iframe name="embed_readwrite" 
            src="http://94.130.157.6:9001/p/g.Ov2rNeuz52pLyrGN$mPad?sessionID=s.fc5e5c28cad7fd57cc298af28bc6d693"
            width=600 height=400></iframe>

</div>
    